@font-face
	src: url(../fonts/alsfuchsia.otf)
	font-family: 'alsfuchsia'
	font-weight: 400

$red: #CC594A
$yellow: #B8CC24
$blue: #8BC5FF

body
	background: $red
	color: $yellow
	font-family: alsfuchsia, sans-serif

h1
	background: $blue

