@font-face {
  src: url(../fonts/alsfuchsia.otf);
  font-family: "alsfuchsia";
  font-weight: 400; }
body {
  background: #CC594A;
  color: #B8CC24;
  font-family: alsfuchsia, sans-serif; }

h1 {
  background: #8BC5FF; }

/*# sourceMappingURL=main.css.map */
